<ion-header>

  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons> 
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    {{ mensagemUsuarioConectado }}
    <form #f="ngForm" (ngSubmit)="enviarMensagem()">
      <ion-item>
        <ion-label floating>Mensagem</ion-label>
        <ion-input type="text"name="mensagem" [(ngModel)]="mensagem" required></ion-input>
        <button type="submit" ion-button item-right [disabled]="f.invalid">
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-item>
    </form>

    <ion-item >
      
      <div *ngFor="let item of lista | async">

        <h3>{{item.data}}</h3>

        <ion-card *ngFor="let mensagem of item.mensagens" >

          <ion-card-content>
            <ion-item *ngIf="mensagem.usuario != nomeUsuario">
              <h2 item-left>{{mensagem.usuario}}</h2>
            </ion-item>
            <ion-item *ngIf="mensagem.usuario == nomeUsuario">
              <h2 item-right>Você</h2>
            </ion-item>
            <p>{{mensagem.texto}}</p>
            <ion-item>
              <ion-note item-right>
                {{mensagem.data | date:'dd/MM/yyyy HH:mm:ss'}}
              </ion-note>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
