<ion-header>

  <ion-navbar>
    <ion-buttons start>
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons> 
    <ion-title>Chat Diário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    
    <ion-item >
      <ion-card *ngFor="let item of lista" >
        <ion-card-content>
          <ion-item *ngIf="item.usuario != nomeUsuario">
            <h2 item-left>{{item.usuario}}</h2>
          </ion-item>
          <ion-item *ngIf="item.usuario == nomeUsuario">
            <h2 item-right>Você</h2>
          </ion-item>
          <p>{{item.texto}}</p>
          <ion-item>
            <ion-note item-right>
              {{item.data | date:'dd/MM/yyyy HH:mm:ss'}}
            </ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
